<app-header></app-header>

<style>
    h1 {text-align: center;}

</style>

<h1 >
    Log In
</h1>

<form #loginform="ngForm" (ngSubmit)="logIn()">
    <small class="danger" >{{message}}</small>
    <div class="formsign">
   
    <br>
    <div>
        <input type="email"  name="userEmail" placeholder="Enter UserEmail" class="textfields" [(ngModel)]="loginEmail" required #userEmail="ngModel" 
        [class.is-invalid]="userEmail.invalid && userEmail.touched"
        >
     
    </div>
<br>
    <div>
    <input type="password"  name="password" placeholder="Enter Password" class="textfields" [(ngModel)]="loginPassword">
</div>
<br> 
<br>
<button type="submit" class="btn btn-primary">Login</button>
</div>

</form>
